<div class="flex flex-wrap gap-[10px] md:gap-[15px] mt-5 md:mt-6">
  {% if product.tags.size > 0 %}
    {% for tag in product.tags limit: 8 %}
      <a class="btn btn-theme-outline btn-xs" href="{{ routes.search_url }}?type=product&q={{ tag | url_encode }}" data-text="{{ tag }}">
        <span>{{ tag }}</span>
      </a>
    {% endfor %}
  {% else %}
    <a class="btn btn-theme-outline btn-xs" href="{{ routes.all_products_collection_url }}" data-text="Chair"><span>Chair</span></a>
    <a class="btn btn-theme-outline btn-xs" href="{{ routes.all_products_collection_url }}" data-text="Art & Paint"><span>Art & Paint</span></a>
    <a class="btn btn-theme-outline btn-xs" href="{{ routes.all_products_collection_url }}" data-text="Mirror"><span>Mirror</span></a>
    <a class="btn btn-theme-outline btn-xs" href="{{ routes.all_products_collection_url }}" data-text="Table"><span>Table</span></a>
    <a class="btn btn-theme-outline btn-xs" href="{{ routes.all_products_collection_url }}" data-text="Lamp"><span>Lamp</span></a>
  {% endif %}
</div>
